@page "/editemployee/{id:int?}"

@using BlazorEmployeeApplication.Components
@using EmployeeManagmentModel
@using Microsoft.AspNetCore.Components.Authorization
@inherits EditEmployeeBase

<AuthorizeView>

    <Authorized Context="authContext">
        <div class="contentcontainer">

            <div class="content">
                <EditForm class="formcontainer w-100" Model="@EditEmployeeModel" OnValidSubmit="HandleValidSubmit">

                    <div class="editcontainer">


                        <ObjectGraphDataAnnotationsValidator />
                        <h3>Edit Employee</h3>

                        <ValidationSummary />
                        <div class="form-group  ">
                            <label for="firstName" class="labels">
                                First Name
                            </label>
                            <div class="inputcontainer">
                                <InputText id="firstName" class="inputItem form-control " placeholder="First Name"
                                           @bind-Value="EditEmployeeModel.FirstName" />
                                <ValidationMessage For="@(() => EditEmployeeModel.FirstName)" />
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="lastName" class=" labels">
                                Last Name
                            </label>
                            <div class="inputcontainer ">
                                <InputText id="lastName" class="inputItem form-control" placeholder="Last Name"
                                           @bind-Value="EditEmployeeModel.LastName" />
                                <ValidationMessage For="@(() => EditEmployeeModel.LastName)" />
                            </div>
                        </div>


                        <div class="form-group   ">
                            <label for="email" class=" labels ">
                                Email
                            </label>
                            <div class="inputcontainer ">
                                <InputText id="email" class=" inputItem form-control " placeholder="Email"
                                           @bind-Value="EditEmployeeModel.Email" />
                                <ValidationMessage For="@(() => EditEmployeeModel.Email)" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="confirmEmail" class="labels ">
                                Confirm Email
                            </label>
                            <div class="inputcontainer ">
                                <InputText id="confirmEmail" class="inputItem form-control "
                                           @bind-Value="EditEmployeeModel.ConfirmEmail" />
                                <ValidationMessage For="@(() => EditEmployeeModel.ConfirmEmail)" />
                            </div>
                        </div>
                        <div class="form-group  ">
                            <label for="department" class=" labels">
                                Department
                            </label>
                            <div class=" inputcontainer">
                                <InputSelect @bind-Value="EditEmployeeModel.DepartmentId"
                                             class="form-control inputItem">
                                    @foreach (var dept in Departments)
                                    {
                                        <option value="@dept.DepartmentId">
                                            @dept.DepartmentName
                                        </option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <div class="form-group  ">
                            <label for="gender" class="labels ">
                                Gender
                            </label>
                            <div class="inputcontainer ">
                                <InputSelect @bind-Value="EditEmployeeModel.Gender" class="inputItem form-control">
                                    @foreach (var gender in Enum.GetValues(typeof(Gender)))
                                    {
                                        <option value="@gender">@gender</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <div class="form-group  ">
                            <label for="dateOfBirth" class=" labels">
                                Date Of Birth
                            </label>
                            <div class=" inputcontainer">
                                <InputDate @bind-Value="EditEmployeeModel.DateOfBrith" class="form-control inputItem" />
                            </div>
                        </div>
                        @*<div class="form-group row">
                        <label for="deptName" class="col-sm-2 col-form-label">
                        Department Name
                        </label>
                        <div id="deptName" class="col-sm-10">
                        <InputText @bind-Value="EditEmployeeModel.Department.DepartmentName"
                        class="form-control" />
                        <ValidationMessage For="@(() => EditEmployeeModel.Department.DepartmentName)" />
                        </div>
                        </div>*@
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>

                </EditForm>

            </div>

            <Footer />

        </div>

    </Authorized>

</AuthorizeView>